<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Credits - NHS Rotary</title>
    {{metadata}}
  </head>
  <body>
    {{header}}
    <section>
      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div
          class="breadcrumbs breadcrumbscredits d-flex align-items-center"
          style="background-image: url('assets/img/hero-bg3.png')"
        >
          <div
            class="container position-relative d-flex flex-column align-items-center"
          >
            <h2>Credits</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Credits</li>
            </ol>
          </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Why Choose Us Section ======= -->
        <section id="why-us" class="why-us pad123">
          <div class="container" data-aos="fade-up">
            <iframe
              src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTTMwQAMhxSWGrQunqejPq386vk1sLt0HAXLs5TVJtAGY4GiSpUvazjnmSqNl63_IrG9WDP41KS1DKQ/pubhtml"
              width="100%"
              height="1000"
            ></iframe>
          </div>
        </section>
        <!-- End Why Choose Us Section -->

        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action call-to-action1">
          <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                <h3>What Are Credits/How To Get Them</h3>
                <p>
                  Credits in a Rotary Interact Club function as service hours,
                  earned by actively participating in events and activities
                  through volunteering your time. These credits reflect your
                  dedication to community service and engagement within the
                  club's initiatives.
                </p>
                <a class="cta-btn" href="services.html">Volunteer Now</a>
              </div>
            </div>
          </div>
        </section>
        <!-- End Call To Action Section -->
      </main>
      <!-- End #main -->
    </section>
    {{footer}}
  </body>
</html>
