<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NHS Rotary</title>
    {{metadata}}
</head>
<body>
    {{header}}
    <section>
        <img class="logo" src="/public/media/logo.webp" alt="Rotary Logo">
        <h1>Welcome to NHS Rotary!</h1>

      <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Support Your Community Today</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>
              Rotary International is the world’s oldest and largest
              non-political, non-sectarian service organization, with 32,000
              clubs in 200 countries and more than 1.2 million members. The
              Rotary Interact Club of Northville is a proud part of this
              global network and of our local community.
            </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/public/views/login.html" class="btn-get-started">Volunteer</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

    <!-- ======= Why Volunteer ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Why Volunteer</h2>
        </div>

        <div class="row gy-5">
          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-briefcase" style="color: #f57813"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">Civic Responsibility</a>
              </h4>
              <p class="description">
                Volunteering fosters a sense of civic responsibility and community engagement, helping young individuals become active, informed, and responsible citizens.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-card-checklist" style="color: #15a04a"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">Time Management</a>
              </h4>
              <p class="description">
                Volunteering teaches students how to balance their commitments, manage their time effectively, and prioritize tasks, valuable skills for their academic and personal lives.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-bar-chart" style="color: #d90769"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">Skill Development</a>
              </h4>
              <p class="description">
                Volunteering in high school offers the chance to develop valuable skills like leadership, communication, teamwork, and problem-solving.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-binoculars" style="color: #15bfbc"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">Networking</a>
              </h4>
              <p class="description">
                Volunteering exposes students to a diverse group of individuals, providing networking opportunities and connections that can be helpful in the future.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-brightness-high" style="color: #f5cf13"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">Sense of Purpose</a>
              </h4>
              <p class="description">
                Volunteering instills a sense of purpose and fulfillment by making a positive impact on others, boosting self-esteem and mental well-being.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-lg-4 col-md-6 service-item d-flex"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="icon flex-shrink-0">
              <i class="bi bi-calendar4-week" style="color: #1335f5"></i>
            </div>
            <div>
              <h4 class="title">
                <a class="stretched-link">College Applications</a>
              </h4>
              <p class="description">
                Volunteer experience enhances college applications, demonstrating a commitment to community, personal growth, and a well-rounded character.
              </p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- End Our Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Our Next Meeting</h3>
            <p>
              Unless circumstances do not permit, our meetings are held the first Wednesday of every month in either the auditorium or the lunch room.
            </p>
            <a class="cta-btn" href="/public/views/events.html">Sign Up For Events</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Call To Action Section -->

  </main>
  <!-- End #main -->
    </section>
    {{footer}}
</body>
</html>