<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Members - NHS Rotary</title>
    {{metadata}}
  </head>
  <body>
    {{header}}
    <section>
      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div
          class="breadcrumbs breadcrumbsteam d-flex align-items-center"
          style="background-image: url('assets/img/hero-bg5.png')"
        >
          <div
            class="container position-relative d-flex flex-column align-items-center"
          >
            <h2>Meet Our Board</h2>
            <ol>
              <li><a href="/public/assets/home.html">Home</a></li>
              <li>Board</li>
            </ol>
          </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2></h2>
            </div>

            <div class="row gy-4">
              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Ishaan Gupta</h4>
                    <span>Co-President</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Zakariyya Siddiqui</h4>
                    <span>Co-President</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Anisha Thoom</h4>
                    <span>Co-Vice President</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Ritvik Ellendula</h4>
                    <span>Co-Vice President</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Shuya Zheng</h4>
                    <span>Secretary</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Varshini Muppa</h4>
                    <span>Treasurer</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Nolan Huyck</h4>
                    <span>Head of Technology</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>David Fahim</h4>
                    <span>Head of Technology</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Sammi Kattethota</h4>
                    <span>Outreach and Event Manager</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Zahra Kagal</h4>
                    <span>Outreach and Event Manager</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Krish Pancholi</h4>
                    <span>Event Coordinator</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Simar Nagi</h4>
                    <span>Event Coordinator</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->
              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Nathan George</h4>
                    <span>Event Coordinator</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Siya Nehete</h4>
                    <span>Event Coordinator</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->

              <div
                class="col-lg-3 col-md-6"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="team-member">
                  <div class="member-img">
                    <img
                      src="/public/assets/img/team/team-1.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="member-info">
                    <h4>Sahran Hassan</h4>
                    <span>Adult Rotary Liaison</span>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->
            </div>
          </div>
        </section>
        <!-- End Team Section -->
      </main>
      <!-- End #main -->
    </section>
    {{footer}}
  </body>
</html>
