:root {
  --color1: #4b4bfa;
  --color2: #000F46;
}

.grecaptcha-badge {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

footer {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 32px;
  background-color: var(--color2);
}

footer .links a {
  margin-right: 5px;
}

footer a {
  color: var(--color1);
}